.quiniela{
    background-color: aqua;
    background-image: url("quiniela.png");
    width: 658px;
    height: 614px;
}

.aux{
    background-color: rgba(165, 42, 42, 0);
    height: 83px;
}


.quiniela span{
    width: 71px;
    height: 41px;
    display: inline-flex;
    
}

#_{
    background-color: rgba(128, 255, 0, 0);
    width: 232px;
    height: 41px;
    display: inline-flex;


}
.partido{
    display: flex;
}